{% extends 'base.html.twig' %}

{% block body %}
<div class="sm-user-crud">
    <h1>Role edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit"  class="btn btn-primary"/>
        <a href="{{ path('role_index') }}" class="btn btn-link">
            Back to the the list
        </a>
    {{ form_end(edit_form) }}

    <div class="delete-button">
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}
