{% extends 'base.html.twig' %}

{% block body %}
<div class="sm-user-crud">
    <h1>{{ 'roles'|trans({},'messages') }} - {{ 'listado'|trans({},'messages') }}</h1>

  <div class="table-responsive">
      <table class="table table-reflow">
            <thead>
                <tr>
                    <th class="hide-by-responsive">{{ 'id'|trans({},'messages') }}</th>
                    <th>{{ 'name'|trans({},'messages') }}</th>
                    <th>{{ 'actions'|trans({},'messages') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for role in roles %}
                <tr>
                    <td class="hide-by-responsive"><a href="{{ path('role_show', { 'id': role.id_role }) }}">{{ role.id_role }}</a></td>
                    <td>{{ role.name }}</td>
                    <td>
                        <div class="item-actions">
                                <a href="{{ path('role_show', { 'id': role.id_role }) }}" class="btn btn-sm btn-default">
                                    {{ 'show'|trans({},'messages') }}
                                </a>
                                <a href="{{ path('role_edit', { 'id': role.id_role }) }}" class="btn btn-sm btn-primary">
                                    {{ 'edit'|trans({},'messages') }}
                                </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="section actions">
            <a href="{{ path('role_new') }}" class="btn btn-lg btn-success">
                <i class="fa fa-plus"></i> {{ 'create_new'|trans({},'messages') }} {{ 'role'|trans({},'messages') }}
            </a>
      </div>
</div>
{% endblock %}
