{% extends 'base.html.twig' %}

{% block body %}
<div class="sm-user-crud">
    <h1>Role list</h1>

  <div class="table-responsive">
      <table class="table table-reflow">
            <thead>
                <tr>
                    <th class="hide-by-responsive">Idrole</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for role in roles %}
                <tr>
                    <td class="hide-by-responsive"><a href="{{ path('role_show', { 'id': role.id_role }) }}">{{ role.id_role }}</a></td>
                    <td>{{ role.name }}</td>
                    <td>
                        <div class="item-actions">
                                <a href="{{ path('role_show', { 'id': role.id_role }) }}" class="btn btn-sm btn-default">show</a>
                                <a href="{{ path('role_edit', { 'id': role.id_role }) }}" class="btn btn-sm btn-primary">edit</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="section actions">
            <a href="{{ path('role_new') }}" class="btn btn-lg btn-success">
                <i class="fa fa-plus"></i>Create a new entry
            </a>
      </div>
</div>
{% endblock %}
