{% extends 'base.html.twig' %}

{% block body %}
<div class="sm-user-crud">
    <h1>{{ 'role'|trans({},'messages') }} - {{ 'view'|trans({},'messages') }}</h1>

    <div class="table-responsive">
        <table class="table table-reflow">
            <tbody>
                <tr>
                    <th>{{ 'id'|trans({},'messages') }}</th>
                    <td>{{ role.idRole }}</td>
                </tr>
                <tr>
                    <th>{{ 'name'|trans({},'messages') }}</th>
                    <td>{{ role.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="{{ path('role_index') }}">
        {{ 'back_to_list'|trans({},'messages') }}
    </a>
    <span><strong>|</strong></span>
    <a href="{{ path('role_edit', { 'id': role.idRole }) }}" class="btn btn-link">
        {{ 'edit'|trans({},'messages') }}
    </a>

    <div class="delete-button">
        {{ form_start(delete_form) }}
            <input type="submit" value="{{ 'delete'|trans({},'messages') }}" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}
