{% extends 'base.html.twig' %}
{% spaceless %}

{% block body %}
<div class="sm-user-crud">
    <h1>{{ 'actions'|trans({},'messages') }} - {{ 'listado'|trans({},'messages') }}</h1>

    <div class="table-responsive">
        <table class="table table-reflow">
            <thead>
                <tr>
                    <th class="hide-by-responsive">{{ 'id'|trans({},'messages') }}</th>
                    <th>{{ 'name'|trans({},'messages') }}</th>
                    <th>{{ 'actions'|trans({},'messages') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for action in actions %}
                <tr>
                    <td class="hide-by-responsive">
                        <a href="{{ path('action_show', { 'id': action.idAction }) }}">
                            {{ action.idAction }}
                        </a>
                    </td>
                    <td>{{ action.name }}</td>
                    <td>
                        <div class="item-actions">
                            <a href="{{ path('action_show', { 'id': action.idAction }) }}" class="btn btn-sm btn-default">
                                {{ 'show'|trans({},'messages') }}
                            </a>
                            <a href="{{ path('action_edit', { 'id': action.idAction }) }}" class="btn btn-sm btn-primary">
                                {{ 'edit'|trans({},'messages') }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="section actions">
      <a href="{{ path('action_new') }}" class="btn btn-lg btn-success">
          <i class="fa fa-plus"></i> {{ 'create_new_alt'|trans({},'messages') }} {{ 'action'|trans({},'messages') }}
      </a>
    </div>

</div>
{% endblock %}

{% endspaceless %}