{% extends 'base.html.twig' %}
{% spaceless %}

{% block body %}
<div class="sm-user-crud">
    <h1>{{ 'action'|trans({},'messages') }} - {{ 'create'|trans({},'messages') }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'create'|trans({},'messages') }}" class="btn btn-primary" />
        <a href="{{ path('action_index') }}" class="btn btn-link">
            {{ 'back_to_list'|trans({},'messages') }}
        </a>
    {{ form_end(form) }}
</div>
{% endblock %}

{% endspaceless %}