{% extends 'base.html.twig' %}

{% block body %}
<div class="sm-user-crud">
    <h1>Action</h1>

    <div class="table-responsive">
        <table class="table table-reflow">
            <tbody>
                <tr>
                    <th>Idaction</th>
                    <td>{{ action.idAction }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ action.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="{{ path('action_index') }}" class="btn btn-link">
        Back to the list
    </a>
    <span><strong>|</strong></span>
    <a href="{{ path('action_edit', { 'id': action.idAction }) }}" class="btn btn-link">
        Edit
    </a>

    <div class="delete-button">
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}
