{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% spaceless %}


{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block body %}
<div class="sm-user-crud">
    <h1>{{ 'user'|trans({},'messages') }} - {{ 'action.edit'|trans({},'messages') }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="{{ 'edit'|trans({},'messages') }}" class="btn btn-primary">
        <a href="{{ path('user_index') }}" class="btn btn-link">
            {{ 'back_to_list'|trans({},'messages') }}
        </a>
    {{ form_end(edit_form) }}
    <div class="delete-button">
        {{ form_start(delete_form) }}
            <input type="submit" value="{{ 'delete'|trans({},'messages') }}" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $( document ).ready(function() {
            userRolesPreSelections('{{ userRolesData | raw }}');
        });
    </script>
{% endblock %}

{% endspaceless %}