{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block body %}

<div class="sm-user-crud">
  <h1>{{ 'users'|trans({},'messages') }} - {{ 'listado'|trans({},'messages') }}</h1>

  <div class="table-responsive">
      <table class="table table-reflow">
        <thead>
          <tr>
            <th>{{ 'id'|trans({},'messages') }}</th>
            <th>{{ 'label.username'|trans({},'messages') }}</th>
            <th class="hide-by-responsive">{{ 'profile.show.email'|trans }}</th>
            <th class="hide-by-responsive">{{ 'status.enabled'|trans({},'messages') }}</th>
            <th class="hide-by-responsive">{{ 'status.locked'|trans({},'messages') }}</th>
            {# <th class="hide-by-responsive">{{ 'roles'|trans({},'messages') }}</th> #}
            <th>{{ 'actions'|trans({},'messages') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td class="hide-by-responsive">{{ user.email }}</td>
            <td class="hide-by-responsive">{% if user.enabled %}{{ 'yes'|trans({},'messages') }}{% else %}{{ 'no'|trans({},'messages') }}{% endif %}</td>
            <td class="hide-by-responsive">{% if user.locked %}{{ 'yes'|trans({},'messages') }}{% else %}{{ 'no'|trans({},'messages') }}{% endif %}</td>
            {# <td class="hide-by-responsive">{{ user.roles }}</td> #}
            <td>
              <div class="item-actions">
                  <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-sm btn-default">
                      {{ 'show'|trans({},'messages') }}
                  </a>
                  <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i> {{ 'edit'|trans({},'messages') }}
                  </a>
                  {# <a href="{{ path('user_delete', { 'id': user.id }) }}" class="btn btn-sm btn-danger">
                      <i class="fa fa-edit"></i> Delete
                  </a> #}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  <div class="section actions">
      <a href="{{ path('user_new') }}" class="btn btn-lg btn-success">
          <i class="fa fa-plus"></i> {{ 'create_new'|trans({},'messages') }} {{ 'user'|trans({},'messages') }}
      </a>
  </div>
</div>
{% endblock %}
