{% extends 'base.html.twig' %}
{% spaceless %}

{% block body %}
<div class="sm-user-crud">
    <h1>{{ 'page'|trans({},'messages') }} - {{ 'action.edit'|trans({},'messages') }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="{{ 'action.edit'|trans({},'messages') }}" class="btn btn-primary" />
        <a href="{{ path('page_index') }}" class="btn btn-link">
            {{ 'back_to_list'|trans({},'messages') }}
        </a>
    {{ form_end(edit_form) }}

    <div class="delete-button">
        {{ form_start(delete_form) }}
            <input type="submit" value="{{ 'delete'|trans({},'messages') }}" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $( document ).ready(function() {
            pageActionPreSelections('{{ actionsToPageData | raw }}');
            pagePageParentPreSelections({{ page.pageParentId ? page.pageParentId : 'null' }}, {{ page.idPage }});
        });
    </script>
{% endblock %}

{% endspaceless %}