{% extends 'base.html.twig' %}
{% spaceless %}

{% block body %}
<div class="sm-user-crud">
    <h1>{{ 'pages'|trans({},'messages') }} - {{ 'listado'|trans({},'messages') }}</h1>

    <div class="table-responsive">
        <table class="table table-reflow">
            <thead>
                <tr>
                    <th>{{ 'id'|trans({},'messages') }}</th>
                    <th>{{ 'name'|trans({},'messages') }}</th>
                    <th class="hide-by-responsive">{{ 'parent_page'|trans({},'messages') }}</th>
                    <th>{{ 'actions'|trans({},'messages') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>
                    <td>
                        <a href="{{ path('page_show', { 'id': page.idPage }) }}">
                            {{ page.idPage }}</a>
                    </td>
                    <td>{{ page.name }}</td>
                    <td class="hide-by-responsive">{{ page.pageParentId }}</td>
                    <td>
                        <div class="item-actions">
                            <a href="{{ path('page_show', { 'id': page.idPage }) }}" class="btn btn-sm btn-default">
                                {{ 'show'|trans({},'messages') }}
                            </a>
                            <a href="{{ path('page_edit', { 'id': page.idPage }) }}" class="btn btn-sm btn-primary">
                                {{ 'edit'|trans({},'messages') }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="section actions">
      <a href="{{ path('page_new') }}" class="btn btn-lg btn-success">
        {{ 'create_new_alt'|trans({},'messages') }} {{ 'page'|trans({},'messages') }}
      </a>
    </div>
</div>
{% endblock %}

{% endspaceless %}