{% extends 'base.html.twig' %}

{% block body %}
<div class="sm-user-crud">
    <h1>{{ 'page'|trans({},'messages') }} - {{ 'view'|trans({},'messages') }}</h1>

    <div class="table-responsive">
        <table class="table table-reflow">
            <tbody>
                <tr>
                    <th>{{ 'id'|trans({},'messages') }}</th>
                    <td>{{ page.idPage }}</td>
                </tr>
                <tr>
                    <th>{{ 'name'|trans({},'messages') }}</th>
                    <td>{{ page.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'parent_page'|trans({},'messages') }}</th>
                    <td>{{ page.pageParentId }}</td>
                </tr>
                <tr>
                    <th>{{ 'url'|trans({},'messages') }}</th>
                    <td>{{ page.url }}</td>
                </tr>
                <tr>
                    <th>{{ 'router_name'|trans({},'messages') }}</th>
                    <td>{{ page.routeName }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="{{ path('page_index') }}">
        {{ 'back_to_list'|trans({},'messages') }}
    </a>
    <span><strong>|</strong></span>
    <a href="{{ path('page_edit', { 'id': page.idPage }) }}">
        {{ 'edit'|trans({},'messages') }}
    </a>

    <div class="delete-button">
        {{ form_start(delete_form) }}
            <input type="submit" value="{{ 'delete'|trans({},'messages') }}" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}
