{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% spaceless %}

{% block fos_user_content %}
    <div class="container login-page">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="{{ path('fos_user_security_login') }}" class="active" id="login-form-link">
                                    {{ 'security.login.submit'|trans }}
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a href="{{ path('fos_user_registration_register') }}" id="register-form-link">
                                    {{ 'registration.submit'|trans }}
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-12">
                                {{ include('AppBundle:Security:loginform.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}

{% endspaceless %}