{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% spaceless %}

{% block fos_user_content %}
    <div class="container login-page">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="{{ path('fos_user_security_login') }}" class="active" id="login-form-link">
                                    {{ 'security.login.submit'|trans }}
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a href="{{ path('fos_user_registration_register') }}" id="register-form-link">
                                    {{ 'registration.submit'|trans }}
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" action="{{ path("fos_user_registration_register") }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    <div class="form-group">
                                        <input type="text" name="_username" id="username" value="{{ last_username }}" tabindex="1" class="form-control" placeholder="{{ 'security.login.username'|trans }}" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="_password" id="password" tabindex="2" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required" >
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="_remember_me" id="remember_me">
                                        <label for="remember_me"> {{ 'security.login.remember_me'|trans }}</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="{{ 'security.login.submit'|trans }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="{{ path('fos_user_resetting_request') }}" tabindex="5" class="forgot-password">
                                                        {{ 'resetting.request.submit'|trans }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form  name="fos_user_registration_form" id="register-form" action="{{ path("fos_user_registration_register") }}" method="post" role="form" class="fos_user_registration_register" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" id="fos_user_registration_form_email" name="fos_user_registration_form[email]"  tabindex="1" class="form-control" placeholder="{{ 'form.username'|trans }}" value="" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" tabindex="1" class="form-control" placeholder="{{ 'form.email'|trans }}" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password"  id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" tabindex="2" class="form-control" placeholder="{{ 'form.password'|trans }}">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" tabindex="2" class="form-control" placeholder="{{ 'form.password_confirmation'|trans }}">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="{{ 'registration.submit'|trans }}">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}

{% endspaceless %}