{% trans_default_domain 'FOSUserBundle' %}

<div class="sm-user-crud">
    <h1>{{ 'change_password.submit'|trans }}</h1>

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-link">
                {{ 'back_to_profile'|trans({},'messages') }}
            </a>
        </div>
    {{ form_end(form) }}
</div>