{% trans_default_domain 'FOSUserBundle' %}

<h1>Profile</h1>

<div class="table-responsive">
    <table class="table table-reflow">
        <tbody>
            <tr>
                <th>{{ 'id'|trans({},'messages') }}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.username'|trans }}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.email'|trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ 'status.enabled'|trans({},'messages') }}</th>
                <td>{% if user.enabled %}{{ 'yes'|trans({},'messages') }}{% else %}{{ 'no'|trans({},'messages') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'status.locked'|trans({},'messages') }}</th>
                <td>{% if user.locked %}{{ 'yes'|trans({},'messages') }}{% else %}{{ 'no'|trans({},'messages') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'roles'|trans({},'messages') }}</th>
                <td>
                    <ul class="list-unstyled">
                        {% for role in user.roles %}
                            <li>
                                {{ role|e }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-link">
        {{ 'profile.edit.submit'|trans }}
    </a>
</div>
