{% trans_default_domain 'FOSUserBundle' %}

<h1>Profile</h1>

<div class="table-responsive">
    <table class="table table-reflow">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.username'|trans }}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.email'|trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if user.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Locked</th>
                <td>{% if user.locked %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    <ul class="list-unstyled">
                        {% for role in user.roles %}
                            <li>
                                {{ role|e }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-link">
        {{ 'profile.edit.submit'|trans }}
    </a>
    <span><strong>|</strong></span>
    <a href="{{ path('homepage') }}" class="btn btn-link">
        Go to homepage
    </a>
</div>
